<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link th:replace="partials/links :: linkpage"/>
</head>
<body>
<div th:replace="partials/top_banner :: top_banner"></div>
<div th:replace="partials/navbar :: standard_nav"></div>

<div class="container">
    <h2>View Post</h2>
    <br>
    <div th:unless="${post == null}">
        <span style="font-weight: bold" th:text="${post.getTitle()}"></span><br>
        <span style="padding-left: 2rem;" th:text="${post.getBody()}"></span><br>
        <br>
        <span>Contact the author: </span>
        <a th:href="'mailto:' + ${post.user.email}"><span th:text="${post.user.email}"></span></a>
    </div>
    <div th:if="${post == null}">
        <h2 th:text="${errMesg}"></h2>
    </div>
</div>
<div th:replace="partials/footer_nav :: footer_nav"></div>
<div th:replace="partials/scripts :: scriptpage"></div>

</body>
</html>
