<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<standard_nav th:fragment="navbar">

    <!-- standard navbar -->
    <nav class="navbar navbar-default">

        <!-- container to give the navbar some padding -->
        <div>

            <!-- navbar hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- navbar brand -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Codeup</a>
            </div>

            <!-- collapsing navbar elements -->
            <div class="collapse navbar-collapse" id="bs-nav-demo">

                <!-- left side content -->
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/hello/friend">Hello</a></li>
                    <li><a href="/include">Include Page</a></li>
                    <li><a href="/join">Join</a></li>
                    <li><a href="/welcome">Welcome</a></li>
                    <li><a href="/ads">Ads</a></li>
                    <li><a href="/posts">Posts</a></li>
                </ul>

                <!-- right side side content -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/sign-up">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn-anchor">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</standard_nav>

